<div class="task-item">
  <div class="status-circle" [ngClass]="getStatusClass(task.status)"></div>
  <h4>Title: {{ task.title }}</h4>
  <p><strong>Description:</strong> {{ task.description }}</p>
  <p><strong>Priority</strong> {{ task.priority }}</p>
  <p><strong>Employee</strong> {{ task.employee }}</p>

  <div class="button-container">
    <button class="todo" mat-button (click)="moveTaskStatus('toDo')">To Do</button>
    <button class="inprogress" mat-button (click)="moveTaskStatus('inProgress')">In progress</button>
    <button class="done" mat-button (click)="moveTaskStatus('done')">Done</button>
  </div>
</div>
