<form class="dialog" [formGroup]="taskForm" (ngSubmit)="addTask()">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" maxlength="25" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Summary</mat-label>
    <input matInput formControlName="summary" maxlength="25" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Priority</mat-label>
    <mat-select formControlName="priority">
      <mat-option value="low">Low</mat-option>
      <mat-option value="medium">Medium</mat-option>
      <mat-option value="high">High</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Assigned To</mat-label>
    <mat-select formControlName="assignedTo">
      <mat-option *ngFor="let employee of employees" [value]="employee">
        {{ employee }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Due Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dueDate" placeholder="Select a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div>
    <button class="add-button" mat-raised-button color="primary" type="submit">Add Task</button>
    <button class="cancel-button" mat-button (click)="onNoClick()">Cancel</button>
  </div>
</form>
