#container {
    display: flex;
    width: 100%;
    height: 100vh;
}

#sidebar {
    width: 200px;
    height: 100%;
    background: #909090;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    color: white;

    #side-menu{
        display: flex;
        flex-direction: column;
        gap:50px;
        padding-top: 200px;
    
        

        a{
            border-radius: 0%;
            text-decoration: none;
            color: #333;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            padding: 15px 20px;
            &:hover:a{
                background-color: #eee;
            };
            
            
        }
    }
}

#content {
    flex-grow: 1;
    margin-left: -200px;
    transition: margin-left 0.3s ease;
    
}

#header {
    display: flex;
    width: 100%;
    padding: 20px 30px;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px #ccc;
}

#menu {
    align-items: center;
    display: flex;
    gap: 20px;
    
}

#menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: .3s background-color;
}

#menu a:hover {
    background-color: #ccc;
    border: 1px solid #333;
    border-radius: 70%;
    padding: 7px;
}


#menu a:active{
    background: #cab287;
    color: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    display: flex;
    gap: 10px;
    align-items: center;
    color:#DEAC80;
    font-family: cursive;
    
}

.bi-list {
    cursor: pointer;
}

#icon {
    cursor: pointer;
    margin-right: 5px;
  
}

.sidebarActive #sidebar {
    transform: translateX(0);
}

.sidebarActive #content {
    margin-left: 0;
}


.profile{
    cursor: pointer;
}

.logo-menu{
    margin-left: 20px;
    color: #333;
    font-family: sans-serif;
}

#container a.active{
background-color: #f7f8fa;
  color: 	#76663f;
  cursor: default;
}

.social-media{
    display: flex;
    justify-content: space-around;
    margin-top: 330px;
    
}

.footer{
    font-size: small;
    margin-left: 30px;
}


#gear-menu{
    align-items: center;
    display: flex;
    

    a:active{
        background: #ccc;
        color: #fff;
        border-radius: 70%;
        padding: 3px;
        
    }

    
}

.notification-button{
    margin-right: 7px;
}
