<app-navbar></app-navbar>
<div class="task-board">
    <h2>Kan Panel</h2>
    <form [formGroup]="taskForm" class="task-form">
      <mat-form-field class="box">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
      <mat-form-field class="box">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field class="box">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority">
          <mat-option value="Low">Low</mat-option>
          <mat-option value="Medium">Middle</mat-option>
          <mat-option value="High">High</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="box">
        <mat-label>Employee</mat-label>
        <mat-select formControlName="employee">
          <mat-option value="Yavuz Mollahamzaoglu">Yavuz Mollahamzaoğlu</mat-option>
          <mat-option value="Onur Kenis">Onur Keniş</mat-option>
          <mat-option value="Baris Hantas">Barış Hantaş</mat-option>
          <mat-option value="Fatih Toker">Fatih Toker</mat-option>
          <mat-option value="Fatih Toker">Cihat Haktanir</mat-option>
        </mat-select>
      </mat-form-field>
      <button  class="add-button" (click)="addTask()">Add task</button>

    

    </form>
  
    <div class="columns">
      <div class="column">
        <h3>To Do</h3>
        <div *ngFor="let task of tasks.toDo" class="task-item">
          <app-task-item 
            [task]="task" 
            (moveTask)="moveTask($event)">
          </app-task-item>
        </div>
      </div>
      <div class="column">
        <h3>In Progress</h3>
        <div *ngFor="let task of tasks.inProgress" class="task-item">
          <app-task-item 
            [task]="task" 
            (moveTask)="moveTask($event)">
          </app-task-item>
        </div>
      </div>
      <div class="column">
        <h3>Done</h3>
        <div *ngFor="let task of tasks.done" class="task-item">
          <app-task-item 
            [task]="task" 
            (moveTask)="moveTask($event)">
          </app-task-item>
          <button class="clear-button" (click)="clearTask(task)">Delete</button>
        </div>
      </div>
    </div>
  </div>
  