<div class="page">

    <app-navbar></app-navbar>
    <div class="list-view">
       
        <h1 style="font-family: 'Times New Roman', Times, serif;" > <i class="bi bi-info-square-fill"></i> Creating tasks and using logic;</h1>
        <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 15px; font-weight: bold;">For your works small errors and communications problems you should use list view on  home page to be more fast and clean broke parts of your works more effective<br> in the other hand  for bigger projects and pages we are 
            encouragement to use kan panel to be more usefull.</p>
            
        <h1 style="display: flex; align-items: center; justify-content: center;">List Panel</h1>
        <app-list-view></app-list-view>
    </div>

</div>