<app-navbar></app-navbar>


<body>
    <div class="container">
        <div class="box" id="box1">
            <h2>Why Punctual ?</h2>
            <p style="font-weight: bold; color:black">Punctual offers a streamlined experience with intuitive navigation and customizable features tailored to your unique workflow. Choose Punctual for a task management solution that adapts to you, not the other way around.</p>
        </div>
        <div class="box" id="box2">
            <h2>How to use Punctual ?</h2>
            <p style="font-weight: bold; color: black;">For managing small tasks and communication issues, utilize the List View on the home page to keep things organized and efficient. For larger projects, we encourage using the Kanban panel to effectively track and manage complex workflows. This combination ensures both clarity and effectiveness in your task management.</p>
            <img src="../../../../src/assets/team.jpg" alt="">
        </div>
        <div class="box" id="box3">
            <h2>Why Punctual best for your team ?</h2>
            <p style="font-weight: bold; color: black;"> Its intuitive interface enhances collaboration and streamlines task management, while the customizable views—such as List View and Kanban panel—adapt to both small tasks and large projects. With Punctual, your team can stay organized, communicate effectively, and boost productivity effortlessly.</p>
        </div>
        <div class="box" id="box4">
            <h2>Who we are and what is our purpose ?</h2>
            <p style="font-weight: bold; color: black;">We are dedicated to providing people with the best services at no cost, aiming to assist them in their daily lives. Our purpose is to offer tools and resources that make everyday tasks easier and more efficient, empowering users to achieve more with less effort.</p>
        </div>
    </div>
</body>

